.wrapper {
  position: relative;
}

.headerbox {
  position: absolute;
  top: 50px;
  width: 1184px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.btnbox {
  display: flex;
  gap: 8px;
  margin-left: 92px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  width: 124px;
  height: 48px;
  background-color: transparent;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 168px;
  height: 48px;
  background-color: #f03f3b;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  border: none;
}

.login:hover,
.register:hover,
.logout:hover {
  background-color: #fbfbfb;
  color: #f03f3b;
}

/* other pages */

.wrapperOther {
  position: relative;
  width: 100vw;
  background-color: #f03f3b;
}

.headerboxOther {
  width: 1184px;
  display: flex;
  justify-content: space-between;
  padding: 20px 128px;
}

/* user menu  */

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  width: 134px;
  height: 48px;
  background-color: transparent;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.userbox {
  display: flex;
  gap: 24px;
  margin-left: 217px;
}

.userIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fbfbfb;
}

.userInfo {
  display: flex;
  gap: 14px;
  align-items: center;
}

.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
