.wrapper {
  position: relative;
}

.headerbox {
  position: absolute;
  top: 52px;
  width: 1184px;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.btnbox {
  display: flex;
  gap: 8px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 30px;
  /* padding: 14px 39px; */
  width: 124px;
  height: 48px;
  background-color: transparent;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  /* padding: 14px 39px; */
  width: 168px;
  height: 48px;
  background-color: #f03f3b;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  border: none;
}

.login:hover,
.register:hover {
  background-color: #fbfbfb;
  color: #f03f3b;
}
